body {
  background-color: #f2f2f2;
}

.tablero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 40px auto;
}

.casilla {
  width: 90px;
  height: 90px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  background-color: #f7f7f7;
  transition: background-color 0.2s ease-in-out;
}

.casilla:hover {
  background-color: #eee;
}

.casilla.X {
  color: #002680; /* verde */
}

.casilla.O {
  color: #ff0000; /* rojo */
}


.ganador {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #666;
  margin-top: 20px;
}

.ganador::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin-bottom: 10px;
}
